
/* When the checkbox is checked, transform the hamburger into an X */
.menu-btn:checked + .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked + .menu-icon .navicon::before {
  transform: rotate(45deg);
  top: 0;
}

.menu-btn:checked + .menu-icon .navicon::after {
  transform: rotate(-45deg);
  top: 0;
}

